<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1"
             xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/persistence/persistence_2_1.xsd">
	 
    <persistence-unit name="CarPU" transaction-type="JTA">
        <provider>${application.jta-provider}</provider>
        <jta-data-source>${application.jta-data-source}</jta-data-source>
        <exclude-unlisted-classes>true</exclude-unlisted-classes>
        <class>com.cdi.crud.model.Car</class>
        <properties>
		    <property name="hibernate.dialect" value="${application.dialect}" />
            <property name="hibernate.hbm2ddl.auto" value="create"/>
            <property name="hibernate.transaction.jta.platform" value="${application.platform}" />
            <property name="hibernate.show_sql" value="true"/>
            <property name="hibernate.format_sql" value="false"/>
        </properties>
    </persistence-unit>
	
</persistence>